# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
pip-wheel-metadata/
dist/
build/

# Editors/IDE
.idea/
.vscode/
*.iml

# Project artifacts
artifacts/
artifacts/**

# Jupyter
.ipynb_checkpoints/

